
.icon-aparencia:before { content: '\e800'; } /* '' */
.icon-dash:before { content: '\e801'; } /* '' */
.icon-home:before { content: '\e802'; } /* '' */
.icon-loja:before { content: '\e803'; } /* '' */
.icon-midia:before { content: '\e804'; } /* '' */
.icon-paginas:before { content: '\e805'; } /* '' */
.icon-plugins:before { content: '\e806'; } /* '' */