<div style="background: #F2F3F7;" class="container-fluid p-5">
  <div
    class="row mx-0 mb-4 align-items-center navigation justify-content-between"
  >
    <ul class="nav">
      <li style="margin-left:35px" class="nav-item">
        <a class="nav-link active font-weight-bold" href="">Overview</a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link text-color disabled font-weight-bold"
          tabindex="-1"
          aria-disabled="true"
          >Customização</a
        >
      </li>
    </ul>
    <div class="d-flex align-items-center">
      <img
        style="cursor: pointer;"
        class="mr-5"
        src="=../../../../../../assets/Icon feather-menu.svg"
      />
      <img
        style="cursor: pointer;"
        class="mr-5"
        src="../../../../assets/Modo de exibiçaõ.svg"
      />
    </div>
  </div>
  <div class="row mx-0">
    <div style="height: 321px" class="col-3">
      <div class="cardin">
        <img
          width="321"
          height="321"
          src="../../../../assets/Imagem.svg"
          alt=""
        />
      </div>
    </div>

    <div style="height: 321px" class="col-3">
      <div class="cardin">
        <img src="../../../../assets/Imagem.svg" alt="" />
      </div>
    </div>
    <div style="height: 321px" class="col-6">
      <div class="cardin"></div>
    </div>
  </div>
</div>
